[submodule "roles/ansible-role-common"]
	path = roles/ansible-role-common
	url = git@github.com:Psiphon-Infrastructure/ansible-role-common.git
	branch = master
[submodule "roles/ansible-role-control-machine"]
	path = roles/ansible-role-control-machine
	url = git@github.com:Psiphon-Infrastructure/ansible-role-control-machine.git
	branch = master
[submodule "roles/ansible-role-node-exporter"]
	path = roles/ansible-role-node-exporter
	url = git@github.com:Psiphon-Infrastructure/ansible-role-node-exporter.git
	branch = master
[submodule "roles/ansible-role-prometheus"]
	path = roles/ansible-role-prometheus
	url = git@github.com:Psiphon-Infrastructure/ansible-role-prometheus.git
	branch = master
[submodule "roles/ansible-role-reverse-proxy"]
	path = roles/ansible-role-reverse-proxy
	url = git@github.com:Psiphon-Infrastructure/ansible-role-reverse-proxy.git
	branch = master
[submodule "roles/geerlingguy.docker"]
	path = roles/geerlingguy.docker
	url = git@github.com:geerlingguy/ansible-role-docker.git
	branch = master
[submodule "ansible-playbooks"]
	path = ansible-playbooks
	url = git@github.com:Psiphon-Infrastructure/ansible-playbooks.git
	branch = master
[submodule "roles/ansible-role-alert-manager"]
	path = roles/ansible-role-alert-manager
	url = git@github.com:Psiphon-Infrastructure/ansible-role-alert-manager.git
	branch = master
[submodule "roles/ansible-role-vmware-tools.git"]
	path = roles/ansible-role-vmware-tools.git
	url = git@github.com:Psiphon-Infrastructure/ansible-role-vmware-tools.git
	branch = master
[submodule "roles/ansible-role-vmware-tools"]
	path = roles/ansible-role-vmware-tools
	url = git@github.com:Psiphon-Infrastructure/ansible-role-vmware-tools.git
	branch = master
[submodule "roles/ansible-role-ipa-client-install"]
	path = roles/ansible-role-ipa-client-install
	url = git@github.com:Psiphon-Infrastructure/ansible-role-ipa-client-install.git
	branch = master
